.downArrow{
    font-size: 45px;
    writing-mode:vertical-rl;
    display: none;
}
.selected{
    margin-top: 20%;
}
@media screen and (max-width: 400px){
    .selected{
        display: none;
    }
    .downArrow{
        display: inline;
    }
}